body {
        background-image: url(khbackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

h3 {
        color: white;
        font-family: Verdana;
}

textarea {
        margin-top: 30px;
        background: transparent;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        color: white;
}

.col-md-6 {
        padding-right: 60px;
        padding-left: 60px;
}

.button-container {
        text-align: center;
}

button {
        margin-top: 20px;
}

.text {
        color: white;
        font-family: "Comic Sans MS", cursive, sans-serif;
}

audio {
        bottom: 0;
}
